@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}

section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;


}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    text-align: right;
}

h1 {

    font-family: DM Sans, sans-serif;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
    padding-bottom: 30px;
}

.headbox {
    padding: 20px;
    border-radius: 10px;
    background: rgba(235, 234, 237, 1);
    display: flex;
    align-items: center;
    justify-content: center;


}

.headlink {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
}
pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid rgba(235, 234, 237, 1);
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: rgba(30, 14, 98, 1);
    background-color: white;
    margin-top: 25px;
    cursor: pointer;


}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.greatcode_card {
    padding: 20px 40px 20px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}


h2 {

    font-family: DM Sans, sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(30, 14, 98, 1);
    padding-left: 15px;
}

.para {

    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: rgba(21, 20, 57, 0.4);
    padding-top: 15px;
}

@media (min-width:1200px) {
    .col-xl-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col-xl-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}